@media screen and ( min-width: 730px )  {

  #site-construction {
      z-index: 20;
      width: 800px;
      position: fixed;
      left: 17%;
      top: 30%;
  }

  body {
    font-family: cursive;
    background-color: #99ccff;
    margin: 0px;
  }

  header {
    width: 100%;
    position: fixed;
    z-index: 1;
    border-top: 1px solid black;
    box-shadow: 0px 1px 5px black;
    /*border-bottom: 1px solid black;*/
    background-color: white;
    color: #ff6600;
  }

  #title-banner {
    text-align: center;
  }

  #users-name {
    display: inline-block;
    border: medium none;
    font-size: 2em;
    font-family: cursive;
    font-weight: 600;
    width: 20%;
    color: #ff6600;
    text-align: right;
  }

  header:hover #users-name {
    text-decoration: underline;
    color: #004080;
  }

  #title {
    display: inline-block;
  }

  #background-left {
    float: left;
  }

  #background-right {
    float: right;
  }

  .side {
    /*height: 100%;*/
    height: 1020px;
    width: 15%;
    display: inline-block;
    background-color: #99ccff;
  }

  div {
    /*margin: 1%;
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    border-radius: 5px;*/
  }

  h2 {
    display: block;
    /*border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 1px;*/
    padding: 10px 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: white;
  }

  #container {
    width: 70%;
    margin-top: 82px;
    display: inline-block;
  }

  .dashboard {
    /*border-bottom: 3px solid black;*/
    padding-bottom: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: #ff8533;
    box-shadow: 0px 1px 2px black;
    border-radius: 5px;
  }

  #eventboard {
    width: 100%
  }

  #eventboard table {
    width: 80%;
    margin: auto;
    text-align: center;
    cursor: default;
    color: #004080;
  }

  #eventboard table th {
    font-size: 20px;
  }

  #eventboard table tbody tr {
    cursor: pointer;
    margin-top: 10px;
  }

  .highlighted {
    background-color: #004080;
    box-shadow: 2px 2px 5px black;
    color: #ff6600;
  }

  #event-form {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #event-form form {
    display: flex;
    flex-wrap: wrap;
  }

  #event-form input {
    width: 20%;
    margin: auto;
  }

  #event-form #button {
    cursor: pointer;
    margin-left: 40%;
  }

  .button {
    width: 50px;
    height: 50px;
    position: relative;
    padding: 5px;
    margin-left: 75%;
    border-radius: 7px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    text-align: center;
    line-height: 150%;
    background-color: #4da6ff;
    color: black; /*#d9d9d9;*/
    cursor: pointer;
  }

  .button:hover /*.pressed*/ {
    /*border-width: 2px;*/
    box-shadow: 4px 4px 7px white;
    text-shadow: 1px 1px 1px white;
    border-color: white;
    color: white;
    left: 3px;
    top: 3px;
  }

  .divider {
    border-top: 3px solid #99ccff;
    border-bottom: 3px solid #99ccff;
    padding: 20px 0px;
  }

  #featured-countdown {
    /*clear: both;*/
  }

}
